.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .header {
        flex: 0;
        a {
            margin-right: 5px;
        }
    }
    .content-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 2;
        .main {
            flex: 2;
            overflow: scroll;
        } 
        
    }
    .footer {
        flex: 0;
    }
}
