<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async) && (auth.user | async)">
      <mat-toolbar>
        <mat-icon>menu</mat-icon>
      </mat-toolbar>
      <mat-nav-list>
        <a [routerLink]="['/core/bars']" mat-list-item>
          <mat-icon>mic</mat-icon>
          <!-- Bars -->
        </a>
        <a [routerLink]="['/core/beats']" mat-list-item>
          <mat-icon>music_note</mat-icon>
          <!-- Beats -->
        </a>
        <a [routerLink]="['/core/callaboz']" mat-list-item>
          <mat-icon>library_music</mat-icon>
          <!-- Callaboz -->
        </a>
      </mat-nav-list>
    </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-wrapper">
      <div class="menu-tool">
        <mat-toolbar color="primary">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="auth.user | async"> <!-- isHandset$ | async -->
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <div class="flex-spacer"></div>
          <span>eightbarz</span>
          <div class="flex-spacer"></div>
          <pdi-account-menu></pdi-account-menu>
        </mat-toolbar>
      </div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
