<div class="container" *ngIf="auth.user | async as user; then account else signin">
  <!-- if user logged in show account menu icon with dropdoww, else show sign in or/and sign up button-->
</div>

<ng-template #signin>
  <div class="container">
    <button mat-button (click)="signIn()" >Sign in</button>
    <button mat-button (click)="signUp()" >Sign up</button>
  </div>
</ng-template>

<ng-template #account>
  <div class="container">
    <button mat-icon-button [matMenuTriggerFor]="accountMenu">
      <mat-icon>account_box</mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu">
        <mat-card>
            <mat-card-header>
              <div *ngIf="auth.user | async as user" mat-card-avatar [ngStyle]="{'background-image': 'url(' + user.photoURL + ')'}"></div>
              <mat-card-title *ngIf="auth.user | async as user" >{{user.email}}</mat-card-title>
              <mat-card-subtitle *ngIf="auth.user | async as user">{{user.uid}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions *ngIf="auth.user | async as user">
                <button color="primary" mat-button (click)="auth.logout(user.email)">Log Out</button>
              
            </mat-card-actions>
          </mat-card>
      <mat-toolbar>menu</mat-toolbar>
      <button mat-menu-item>
        
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
    </mat-menu>
  </div>
</ng-template>